@import 'nib'
@import 'colors.import'

global-reset()

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    color: $dark-gray;
}

a {
    text-decoration: none;
    color: $dark-gray;
}

.red-input {
    outline: none;
    box-sizing: border-box;
    border: none;
    color: #FFF;
    padding: 10px;
    width: 70%;
    font-family: inherit;
    font-size: 14px;
    background: rgba(49, 53, 61, 0.24);
}

.menu-item-container {
    
    font-size: 18px;
    color: $font-color1;
    background-color: $red2;
    text-transform: uppercase;
    padding: 15px;
    
    a {
        color: @color;
    }
    
}

.menu-wrapper,
.notification-wrapper,
{
    background-color $main-red;
}

.notification-wrapper {
    margin-top: 80px;
}

.timeline-search-wrapper {
    background-color: $red2;
}

.timeline-wrapper {
    background-color: white;
    padding-top: 10px;
}

.circle-profile-picture {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 10px 0px 0px -5px;
    border: 5px solid $dark2;
}