@import 'nib'
@import 'colors.import'

global-reset()

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    color: $dark-gray;
}

a {
    text-decoration: none;
    color: $dark-gray;
}

.menu-wrapper,
.notification-wrapper,
{
    background-color $main-red;
}

.notification-wrapper {
    margin-top: 80px;
}

.timeline-wrapper {
    margin-top: 75px;
    box-shadow: 3px 3px 5px 6px #C7C7C7;
    padding-top: 10px;
}